@import "./variables";

.main_info {
    background-color: $wizard-color;
    max-width: 1040px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: $text-1;

    > div {
        height: 100%;
    }

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__destino {
        margin: 10px 0;
        
        &_header,
        &_body {
            display: flex;
            > div:not(:last-child) {
                margin-right: 10px;
            }
        }

        &_body {
            flex-direction: column;
            
            &_element {
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }
    &__fecha {
        display: flex;
    }

    &__side_text {
        background-color: $empty-space-gray;
        height: 100%;
        width: 100%;
    }

    &__presupuesto, 
    &__fecha {
        text-align: left;
    }

    .fill_circle_primary {
        fill: $primary-color;
        margin-left: 10px;
    }

    &__presupuesto {
        & .MuiSlider-root {
            margin-top: 20px;
        }
    }
}

@media all and (max-width:420px) {
    .main_info {
        &__content {
            display: flex;
            flex-direction: column;

            > div {
                width: 100%;
                max-width: none;
                flex-basis: auto;
            }
        }
        &__side_content {
            width: 100%;

            > div {
                width: 100%;
            }
        }
        &__side_image {
            display: none;
        }
    }
}