@import './variables';

.main_info {
	background-color: $wizard-color;
	max-width: 1040px;
	height: 100%;
	margin: 0 auto;
	padding: 10px;
	color: $text-1;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
	> div {
		height: 100%;
	}

	&__wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__destino {
		margin: 10px 0;

		&_header {
			display: flex;
			height: auto;
		}

		&_body {
			display: flex;
			> div:not(:last-child) {
				margin-right: 10px;
			}
		}

		&_body {
			flex-direction: column;

			&_element {
				display: flex;
				align-items: center;

				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}
	}
	&__fecha {
		display: flex;
	}

	&__side_text {
		background-image: url('../assets/aviones.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 100%;
		width: 100%;
		border-radius: 5px;
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	}

	&__presupuesto,
	&__fecha {
		text-align: left;
	}

	.fill_circle_primary {
		fill: $primary-color;
		margin-left: 10px;
	}

	&__presupuesto {
		& .MuiSlider-root {
			margin-top: 20px;
		}
	}
}

@media all and (max-width: 700px) {
	.main_info {
		&__content {
			display: flex;
			flex-direction: column;

			> div {
				width: 100%;
				max-width: none;
				flex-basis: auto;
			}
		}
		&__side_content {
			width: 100%;

			> div {
				width: 100%;
			}
		}
		&__side_image {
			display: none;
		}
	}
}
