@import "./variables";

.program_detail {
    color: $text-1;
    text-align: left;
    margin: 0 auto;

    &__wrapper {
        width: 930px;
    }

    &__header {
        background: url("../assets/44.jpeg");
        background-size: cover;

        &_title {
            font-size: 3em;
            color: $font-light;
        }
    }

    &__main_left {
        color: $font-light;
        display: flex;
        flex-direction: column;
        
        > p {
            margin-top: auto;
            align-items: flex-end;
            align-self: flex-end;
            justify-content: flex-end;
        }
    }
    
    & .MuiGrid-item:first-child {
        background: url("../assets/44.jpeg");
        background-size: cover;
    }

    &__main_right {
        h3 {
            margin: 0 0 40px;
        }

        &__extras {
            display: flex;
            font-size: 12px;
            justify-content: space-between;
        }
    }

    &__main_descripcion {
        font-size: 14px;
    }

    &__card {
        &_footer {
            background-color: $light-blue;
            color: $font-light;
            display: flex;
            justify-content: space-between;
            padding: 9px 40px;
            font-size: 1em;
            width: 100%;

            > div {
                display: flex;
                align-items: center;
            }
        }

        &--forma_pago {
            margin-left: 20px;
        }
    }
}