@import "./style/variables.scss";

header {
    background-color: $primary-color;
    & .navbar {
        margin: 0 8%;
    }
}

footer {
    background-color: $footer-color;
    height: 40px;
    margin-top: 40px;
    & .footer__body {
        height: 100%;
    }
}

.home,
.program_search {
    flex: 1;
}

.navbar, .footer__body {
    display: flex;
    flex-direction: row;
}

.general__input_field {
    div {
        color: $primary-color;
        border-color: $primary-color;
    }
    & .MuiOutlinedInput-input {
        padding: 10px 7px;
    }
    > label {
        transform: translate(10px, 60%);
    }
}